.App {
  text-align: center;
  font-family: "serif", serif;
  background-color: #282c34;
}

.weather-container {
  margin: 0 auto;
  max-width: 900px;
  margin-top: 6vh;
}

.card.bg-card-left {
  background-color: rgba(247, 244, 245, 0.6);
}

#search-input {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.005);
  border-radius: 3px;
  width: 95%;
  max-width: 200px;
  background-image: url("/public/images/searchicon.png");
  background-size: 33px;
  background-repeat: no-repeat;
  padding: 5px 10px 5px 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
